@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::after {
  content: "";
  background-image: url("https://bedes.qui.gg/images/framernoise.png");
  height: 300%;
  width: 300%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  animation: fadeInGrain 2s ease forwards, animateGrain 8s steps(10) infinite;
}

@keyframes fadeInGrain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.08;
  }
}

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}

.transition-wrapper {
  transition-property: opacity, transform, filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  will-change: opacity, filter;
}

.page-transition {
  opacity: 0;
  filter: blur(12px);
  transform: translateY(10px);
  pointer-events: none;
}

.content-fade-mask {
  padding-bottom: 90px;
}

.initial-load {
  opacity: 0;
  animation: fadeInPage 10s ease-out forwards 3s;
}

@keyframes fadeInPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Show scrollbar only for code blocks */
.code-block-container::-webkit-scrollbar {
  display: block;
  height: 6px;
}

.code-block-container::-webkit-scrollbar-track {
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 3px;
}

.code-block-container::-webkit-scrollbar-thumb {
  /* background: rgba(255, 255, 255, 0.3); */
  border-radius: 3px;
}

.code-block-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.code-block-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
}

.code-block-container pre {
  background-color: black !important; /* Or any color you prefer */
}
